<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-4">
				<!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>消息列表</h2>
				</header>
				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->
					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="dt-toolbar">
							<div class="col-xs-11 col-sm-10">
								<div class="dataTables_filter">
									<label>
										<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
										<input type="search" placeholder="用户名/邮箱" data-ng-keyup="getUserList()" ng-model="queryParam.keyword" class="form-control" aria-controls="dt_basic"></label>
								</div>
							</div>
							<div class="col-xs-1 col-sm-2">
								<button class="btn btn-primary" type="button" data-ng-click="open()">
									<i class="fa fa-plus"></i>
									新增用户
								</button>
								<button class="btn btn-primary" type="button" id="btn" data-loading-text="保存中..." autocomplete="off" data-ng-click="save()">
									保存用户
								</button>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-condensed table-hover smart-form has-tickbox">
								<thead>
								<tr>
									<th>用户名</th>
									<th>邮箱</th>
									<th>锁定</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="user in userList"  ng-if="userList.length > 0" ng-mouseenter="show=true" ng-mouseleave="show=false">
									<td ng-bind="user.username"></td>
									<td ng-bind="user.email"></td>
									<td>
										<label class="checkbox">
											<input type="checkbox" ng-model="user.locked" name="checkbox-inline"
												   ng-change="locked($index)"
												   data-ng-checked="user.locked == 1" data-ng-true-value="1" data-ng-false-value="0">
											<i></i>
										</label>
									</td>
									<td>
										<div ng-show="show">
											<a href="#" data-ng-click="removeUser($index)" title="删除用户：{{user.username}}">
												<span class="glyphicon glyphicon-remove-circle"></span>
											</a>
										</div>
									</td>
								</tr>
								<tr ng-if="userList == null || userList.length == 0">
									<td colspan="3">
										<div>暂无消息数据</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="dt-toolbar-footer">
							<div class="col-xs-12 col-sm-12">
								<ug-pagination page-info="pageInfoSetting" ></ug-pagination>
							</div>
						</div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/ng-template" id="addUser.html">
	<div class="modal-header">
		<h3 class="modal-title">新增用户</h3>
	</div>
	<div class="modal-body">
		<div class="widget-body">

			<form class="form-horizontal" ug-validate="addAccountForm" name="addUserForm" novalidate="">

				<fieldset>
					<div class="form-group">
						<label class="col-md-2 control-label">用户名</label>
						<div class="col-md-10">
							<input class="form-control" required="true" data-rule-minlength="6" data-rule-maxlength="20" ng-model="user.username" name="username" placeholder="用户名" type="text">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">邮箱</label>
						<div class="col-md-10">
							<input class="form-control"  ng-model="user.email" name="email" placeholder="邮箱" type="email">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">密码</label>
						<div class="col-md-10">
							<input id="password" class="form-control" required="true" data-rule-minlength="6" data-rule-maxlength="20" ng-model="user.password" name="password" placeholder="密码" type="password" >
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">确认密码</label>
						<div class="col-md-10">
							<input class="form-control" required="true" data-rule-equalTo="#password" data-rule-minlength="6" data-rule-maxlength="20" ng-model="user.confirmPassword" name="confirmPassword_{{$index}}" placeholder="确认密码" type="password">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">禁用状态</label>
						<div class="col-md-10">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="user.locked" class="checkbox style-0" name="locked" checked="checked" ng-true-value="true" ng-false-value="false">
									<span>禁用用户</span>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="errors">
						<label class="col-md-2 control-label"></label>
						<div class="col-md-10 error">
							{{errors.message}}
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" data-ng-click="saveAccount()">
			<i class="fa fa-save"></i>
			保存
		</button>
		<button class="btn btn-warning" ng-click="cancel()">关闭</button>
	</div>
</script>