<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.order.mapper.OrderMapper" >

    <!--    查询订单    -->
    <select id="getOrderList" resultType="com.xmomen.module.order.model.OrderModel" parameterType="com.xmomen.module.order.model.OrderQuery">
        SELECT
        sp.SHOW_VALUE AS orderTypeDesc,
        ssp.SHOW_VALUE AS orderStatusDesc,
        paymentp.SHOW_VALUE AS paymentModeDesc,
        osp.SHOW_VALUE AS orderSourceDesc,
        tb.*
        FROM
        tb_order tb
        LEFT JOIN sys_dictionary s on s.DICTIONARY_CODE='ORDER_TYPE'
        left join sys_dictionary_parameter sp on sp.SYS_DICTIONARY_ID=s.ID and tb.ORDER_TYPE = sp.REAL_VALUE

        LEFT JOIN sys_dictionary ss on ss.DICTIONARY_CODE='ORDER_STATUS'
        left join sys_dictionary_parameter ssp on ssp.SYS_DICTIONARY_ID=ss.ID and tb.ORDER_STATUS = ssp.REAL_VALUE

        LEFT JOIN sys_dictionary payment on payment.DICTIONARY_CODE='PAYMENT_MODE'
        left join sys_dictionary_parameter paymentp on paymentp.SYS_DICTIONARY_ID=payment.ID and tb.PAYMENT_MODE = paymentp.REAL_VALUE

        LEFT JOIN sys_dictionary oss on oss.DICTIONARY_CODE='ORDER_SOURCE'
        left join sys_dictionary_parameter osp on osp.SYS_DICTIONARY_ID=oss.ID and tb.ORDER_SOURCE = osp.REAL_VALUE
        <where>
              <if test="orderStatus">
                  AND tb.order_status = #{orderStatus}
              </if>
            <if test="keyword">
                AND tb.order_no LIKE CONCAT('%', #{keyword}, '%')
                or tb.consignee_phone LIKE CONCAT('%', #{keyword}, '%')
                or tb.consignee_name like CONCAT('%', #{keyword}, '%')
            </if>
              <if test="id">
                  AND tb.id = #{id}
              </if>
          </where>
    </select>

    <select id="getPurchaseList" resultType="com.xmomen.module.order.model.PurchaseModel" parameterType="java.util.HashMap">
        SELECT
            p.PURCHASE_CODE,
            p.ITEM_CODE,
            i.ITEM_NAME,
            i.SELL_UNIT AS itemUnit,
            p.TOTAL AS totalItemQty,
            p.TOTAL_WEIGHT as totalWeight
        FROM
          tb_purchase p
        LEFT JOIN cd_item i
          ON i.ITEM_CODE = p.ITEM_CODE
          <where>
              <if test="keyword">
                  AND i.ITEM_NAME LIKE CONCAT('%', #{keyword}, '%')
                  OR p.ITEM_CODE LIKE CONCAT('%', #{keyword}, '%')
              </if>
          </where>
        ORDER BY p.CREATE_DATE DESC
    </select>

    <select id="getOrderPurchaseList" resultType="com.xmomen.module.order.model.OrderPurchaseModel" parameterType="java.util.HashMap">
        SELECT
        o.ORDER_NO,
        SUM(i.ITEM_QTY) AS TOTAL_ITEM_QTY,
        i.ITEM_ID,
        i.ITEM_CODE,
        i.ITEM_UNIT,
        SUM(i.ITEM_QTY * m.spec) AS TOTAL_WEIGHT
        FROM
        tb_order_item i
        LEFT JOIN tb_order o
        ON o.ORDER_NO = i.ORDER_NO
        left join cd_item m
        ON m.item_code = i.item_code
        <where>
            o.ORDER_STATUS = 1
            <if test="startTime">
                <![CDATA[
                  AND o.CREATE_TIME >= #{startTime}
                ]]>
            </if>
            <if test="endTime">
                <![CDATA[
                  AND o.CREATE_TIME <= #{endTime}
                ]]>
            </if>
        </where>
        GROUP BY o.ORDER_NO,i.item_id
    </select>

    <select id="queryPackingModel" resultType="com.xmomen.module.order.model.PackingModel" parameterType="com.xmomen.module.order.model.PackingQuery">
        SELECT
          p.ID,
          p.PACKING_NO,
          p.PACKING_TIME,
          p.PACKING_STATUS,
          sdp.SHOW_VALUE AS PACKING_STATUS_desc
        FROM
          tb_packing p
          LEFT JOIN sys_dictionary sd
            ON sd.DICTIONARY_CODE = 'PACKING_STATUS'
          LEFT JOIN sys_dictionary_parameter sdp
            ON sd.ID = sdp.SYS_DICTIONARY_ID
            AND sdp.REAL_VALUE = p.PACKING_STATUS
        <where>
            <if test="packingNo">
                AND p.PACKING_NO = #{packingNo}
            </if>
            <if test="packingStatus">
                AND p.PACKING_STATUS = #{packingStatus}
            </if>
        </where>
    </select>
</mapper>