<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.mapper.CouponMapper" >

<!--        查询消息    -->
	<select id="getCouponList" resultType="com.xmomen.module.base.model.CouponModel" parameterType="java.util.HashMap">
        SELECT
        cc.*,
		ccc.CATEGORY_NAME,
		cd_company.COMPANY_NAME,
		su.realname as managerName
        FROM
        cd_coupon cc
        left join cd_coupon_category ccc on cc.COUPON_CATEGORY = ccc.id
        left join cd_coupon_ref ccr on cc.id = ccr.cd_coupon_id and ccr.ref_type='SEND_COMPANY'
        left join cd_company cd_company on ccr.ref_value = cd_company.id
        left join cd_coupon_ref ccrc on cc.id = ccrc.cd_coupon_id and ccrc.ref_type='SEND_CUSTOMER'
        left join sys_users su on ccrc.ref_value = su.id
        <where>
              <if test="keyword">
                  AND cc.COUPON_NUMBER LIKE CONCAT('%', #{keyword}, '%') or cc.COUPON_DESC LIKE CONCAT('%', #{keyword}, '%')
              </if>
              <if test="couponNumber">
                  AND cc.COUPON_NUMBER = #{couponNumber}
              </if>
              <if test="categoryType">
              	AND ccc.category_type = #{categoryType}
              </if>
              <if test="isSend">
              	AND cc.is_send = #{isSend}
              </if>
         </where>
    </select>
</mapper>