<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.mapper.CouponCategoryMapper" >

<!--        查询消息    -->
<!--     <select id="getCouponCategoryList" resultType="com.xmomen.module.base.model.CouponCategoryModel" parameterType="java.util.HashMap"> -->
<!--         SELECT -->
<!--         cm.*, -->
<!--         cc.category_name -->
<!--         FROM -->
<!--         cd_item cm -->
<!--         left join cd_category cc on cm.cd_category_id = cc.id -->
<!--         <where> -->
<!--               <if test="keyword"> -->
<!--                   AND cm.item_Code LIKE CONCAT('%', #{keyword}, '%') or cm.item_name LIKE CONCAT('%', #{keyword}, '%') -->
<!--               </if> -->
<!--               <if test="id"> -->
<!--                   AND cm.id = #{id} -->
<!--               </if> -->
<!--           </where> -->
<!--     </select> -->
</mapper>