<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.mapper.ItemMapper" >

    <!--    查询消息    -->
    <select id="getItemList" resultType="com.xmomen.module.base.model.ItemModel" parameterType="java.util.HashMap">
        SELECT
        cm.*,
        cc.category_name
        FROM
        cd_item cm
        left join cd_category cc on cm.cd_category_id = cc.id
        <where>
              <if test="keyword">
                  AND cm.item_Code LIKE CONCAT('%', #{keyword}, '%') or cm.item_name LIKE CONCAT('%', #{keyword}, '%')
              </if>
              <if test="id">
                  AND cm.id = #{id}
              </if>
              <if test="exclude_ids">
                  AND cm.id NOT IN
                  <foreach collection="exclude_ids" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
              </if>
          </where>
    </select>
</mapper>