<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.company.mapper.CompanyMapper" >

    <!--    查询消息    -->
    <select id="getCompanyList" resultType="com.xmomen.module.base.company.model.CompanyModel" parameterType="java.util.HashMap">
        SELECT
        *
        FROM
        cd_company cm
        <where>
              <if test="keyword">
                  AND cm.companyCode LIKE CONCAT('%', #{keyword}, '%') or cm.company_name LIKE CONCAT('%', #{keyword}, '%')
              </if>
              <if test="id">
                  AND cm.id = #{id}
              </if>
          </where>
    </select>
</mapper>